<% provide(:title, "Help") %>
<h1>Help</h1>
<p>Get help pn the Ruby on Rails Tutorial at the
  <a href="https://railstutorial.jp/"Rails Tutorial help page</a>.
    To get help on this sample app, see <thead>
      <a href="https://railstutorial.jp/#ebook"><em>Ruby onRails Tutorial</em>
        book</a>
</p>
